.profile-container {
    padding: 20px;
    margin-top: 10%;
  }
  
  .user-info {
    margin-bottom: 20px;
  }
  
  .products-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .order-card {
    width: 300px;
    height: 300px;
  }
  
  @media screen and (max-width: 850px) {
    .profile-container {
      margin-top: 30%;
    }
    
  }